@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
}

.page {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  background-color: #ffffff;
  min-height: 100vh;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
}

.page-header-logo-link {
  margin-right: 30px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* шапка */

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 439px;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  justify-content: center;
  list-style-type: none;
}

.navigation-link {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 20px 16px 20px 16px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  margin: 0;
  margin-left: auto;
  max-width: 268px;
}

.navigation-search,
.navigation-like {
  display: block;
  color: inherit;
  min-width: 44px;
  text-decoration: none;
  background-repeat: no-repeat;
}

.navigation-search::before {
  content: url("../images/header/search.svg");
}

.navigation-like::before {
  content: url("../images/header/heart.svg");
}

.like-counter {
  position: absolute;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  padding: 5px 5px 5px 4px;
  border-radius: 10px;
  margin-top: 11px;
  min-width: 20px;
}

.button {
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.navigation-button {
  padding: 8px 50px;
  min-width: 160px;
}

/* основное */

.page-main {
  flex-grow: 1;
}

.hero-index {
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/main/hero-decor.svg"), url("../images/main/hero-background.jpg");
  background-size: 100% 57px, cover;
  background-repeat: no-repeat;
  background-position: bottom center, top center;
  text-align: center;
}

.main-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.content {
  text-align: center;
}

.content-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.content-item {
  width: 400px;
  min-height: 385px;
}

.content-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.content-item-accent {
  display: flex;
  width: 1200px;
  color: #ffffff;
}

.content-paragraph {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.content-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.content-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.content-item-accent:first-child,
.content-item-accent:last-child {
  background-color: #82B3D3;
}

.booking-content {
  padding: 96px 258px 104px 258px;
}

.booking-button {
  background-color: #756157;
  min-width: 276px;
}

/* подвал */

.page-footer {
  display: flex;
  min-height: 120px;
  padding: 40px 70px 30px 70px;
  box-sizing: border-box;
}


.content-subscribe {
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.content-subscribe-accent {
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/footer/subscribe-background.jpg");
  background-size: cover;
}

.subscribe-form {
  display: flex;
}

.field {
  width: 452px;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
}

.subscribe-field {
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  min-width: 232px;
}

/* соцсети */

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 42px;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.social-item {
  min-width: 48px;
}

.social-link {
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 10px;
}

.social-link-vk {
  background-image: url("../images/footer/social-vk.svg");
}

.social-link-tg {
  background-image: url("../images/footer/social-telegram.svg");
}

.social-link-yt {
  background-image: url("../images/footer/social-youtube.svg");
}

/* контакты */

.contact-phone {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  margin: 0 auto;
}

.htmlacademy-link {
  margin-left: 42px;
}

/* вторая страница */

.inner-page-filter {
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/catalog/catalog-filter-background.jpg");
  background-size: cover;
  padding: 35px 70px 70px;
  box-sizing: border-box;
}

.inner-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

/* крошки */

.breadcrumbs {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 3px 0;
  list-style-type: none;
}

.breadcrumbs-button::before {
  content: url("../images/catalog/breadcrumbs-vector.svg");
}

.breadcrumbs-item {
  margin-right: 28px;
}

/* фильтры */

.filter-catalog-form {
  display: flex;
}

.filter-group {
  margin-right: 70px;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  font-weight: 700;
  margin: 0;
  margin-bottom: 32px;
}

.filter-list {
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button-submit {
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  min-width: 191px;
}

.button-reset {
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  min-width: 191px;
}

/* сортировка отелей */

.sorting-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 70px 40px;
}

.search-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.sorting-control {
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  padding: 14px 0 14px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-list {
  display: flex;
  list-style-type: none;
  width: 160px;
  margin: 0;
  padding: 0;
}

.sorting-item {
  width: 48px;
  min-height: 48px;
}

.sorting-button::before {
  content: url("../images/catalog/breadcrumbs-vector.svg");
}

.sorting-button-current {
  border-radius: 4px;
  border: 2px solid #000000;
}

/* каталог */

.hotel-list {
  display: flex;
  padding: 0 70px 0;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
}

.hotel-card {
  width: 340px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #E6E6E6;
}

.hotel-card-button {
  font-size: 16px;
  line-height: 20px;
  margin-right: 20px;
}

.button-secondary {
  background-color: #82B3D3;
}

.button-tertiary {
  background-color: #7DB54F;
}

/* пагинация */

.pagination-list {
  display: flex;
  margin: 80px 70px 60px 70px;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
  border-radius: 4px;
}

.pagination-link {
  display: block;
  width: 60px;
  min-height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  padding: 11px 25px 13px 23px;
  box-sizing: border-box;
}

.pagination-current {
  background-color: #f2f2f2;
}

.pagination-clear {
  background-color: transparent;
}

.pagination-item:not(:first-child):not(.pagination-clear) {
  background-color: #82B3D3;
}

.pagination-item:last-child {
  margin-right: 0;
}
