@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
}

.page {
  background-color: #ffffff;
}

/* пока оставила так, в таком варианте проще ориентироваться
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
*/

/* header */

.navigation li {
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

/* main */

.hero-index {
  color: #000000;
  background-color: #333333;
  background-image: url("../images/main/hero-item.svg"), url("../images/main/hero-background.jpg");
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, top center;
}

.main-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.advantages li {
  list-style-type: none;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages p {
  text-align: center;
}

.advantages-item-accent {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item-accent .advantages-paragraph {
  color: inherit;
}

.advantages-item-accent-2 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-accent-3 {
  background-color: rgba(131, 179, 211, 0.2);
}

.services li {
  list-style-type: none;
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.services p,
.booking p {
  text-align: center;
}

/* footer */

.footer-subscribe {
  background-image: url("../images/footer/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
}

.footer-subscribe p {
  text-align: center;
}

.social-media {
  color: #000000;
  background-color: #ffffff;
}

.social-media li {
  list-style-type: none;
}

.social-link {
  background-repeat: no-repeat;
  background-position: center;
}

.social-link-vk {
  background-image: url("../images/footer/social-vk.svg");
}

.social-link-tg {
  background-image: url("../images/footer/social-telegram.svg");
}

.social-link-yt {
  background-image: url("../images/footer/social-youtube.svg");
}

.contact-phone {
  color: #000000;
  background-color: #ffffff;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.htmlacademy-link {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

/* calalog: main */

.main-inner {
  background-image: url("../images/catalog/catalog-filter-background.jpg");
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
}

.breadcrumbs {
  color: #ffffff;
}

.inner-title {
  color: #ffffff;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.filter-title {
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-item {
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
}

.footer-subscribe-accent {
  background-image: none;
}
